@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark, luxury;
}
body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
